<table>
  <tr>
    <td> <%= f.label :name %>
         <%= f.text_field :name %></td>
  </tr>
  <tr>
    <td> <%= f.label :major %>
         <%= f.text_field :major %> </td>
  <tr>
    <td><%= f.label :class_year %>
<%= f.select :class_year, "<option>12</option><option>13</option><option>14</option><option>15</option>"  %></td>
  </tr>
</table>
